<!DOCTYPE html>
<!-- Created by CodingLab |www.youtube.com/c/CodingLabYT-->
<html lang="en" dir="ltr">
  <head>
    <meta charset="UTF-8">
    <!--<title> Login and Registration Form in HTML & CSS | CodingLab </title>-->
    <!-- Fontawesome CDN Link -->
    <%- include('./customer/partials/head.ejs') %>
      <link rel="stylesheet" href="/login-form-style.css">
<link rel="stylesheet" href="/preloader.css">

    <meta name="viewport" content="width=device-width, initial-scale=1.0">
   </head>
<body>


  <div class="container">
<% if(error_login) {      %>
<div class="alert-error">
    <!-- alert error -->
  <span class="closebtn" onclick="this.parentElement.style.display='none';">&times;</span>
  <span class="error_auth"> <%= error_login %> </span>
</div>

<%   }%>

<!-- pass update success -->
<!-- alert success -->

<%  if (success_update_pass) {%>

<div class="alert-success">
    <!-- alert error -->
  <span class="closebtn" onclick="this.parentElement.style.display='none';">&times;</span>
  <span class="error_auth"> <%= success_update_pass %> </span>
</span>
</div>
<% }%>

<% if(error_update_pass) {      %>
<div class="alert-error">
    <!-- alert error -->
  <span class="closebtn" onclick="this.parentElement.style.display='none';">&times;</span>
  <span class="error_auth"> <%= error_update_pass %> </span>
</div>

<%   }%>

<%  if (error_register) {%>

 <div class="alert-error">
    <!-- alert error -->
  <span class="closebtn" onclick="this.parentElement.style.display='none';">&times;</span>
    <span class="error_auth"> <%= error_register %> </span>

</div>
<% }%>
<!-- alert success -->

<%  if (success_register) {%>

<div class="alert-success" style="background-color: white">
    <!-- alert error -->
  <span class="closebtn" onclick="this.parentElement.style.display='none';">&times;</span>
  <span class="error_auth"  style="color: green" > <%= success_register %> </span>
</span>
</div>
<% }%>

    <!-- notification -->
    <input type="checkbox" id="flip">
    <div class="cover">
      <div class="front">
        <img src="/logo.jpg" alt="">
        <div class="text">
          <span class="text-1">Every new friend is a <br> new adventure</span>
          <span class="text-2">Let's get connected</span>
        </div>
      </div>
      <div class="back">
        <img class="backImg" src="/logo.jpg" alt="">
        <div class="text">
          <span class="text-1">Complete miles of journey <br> with one step</span>
          <span class="text-2">Let's get started</span>
        </div>
      </div>
    </div>
    <div class="forms">
        <div class="form-content">
          <div class="login-form">
            <div class="title">SignUp</div>
            <form  autofill="false" autocomplete="false"  name="register" class="form"   action="/register" onsubmit="return validateForm()" method="post" id="form-signup">
            <div class="input-boxes">
              <div class="input-box">
                <i class="fas fa-user"></i>
                <input type="text" name="userName" autocomplete="off" autofocus="off" onkeyup="checkUsername(this.value)" placeholder="Username" id="username" class="username">
                <br>
                        
                          
                        
              </div>  
              <i id="uname_err__msg"></i>
  <datalist id="check-list" style="display: none;">
<%  if(result_check) { %>
 <!-- start for each -->
 <% result_check.forEach( check => {%>
 <option value="<%= check.gmail %>"><%= check.gmail %></option>

   <% }) } %>
    </datalist>


              <div class="input-box">
                <i class="fas fa-envelope"></i>
                <input type="email" name="email" onkeyup="checkEmail(this.value)"
                    id="email" placeholder="Email"
                       class="email">
                    
              </div>

              <i id="email_err__msg"></i>



              <div class="input-box">
                <i class="fas fa-user"></i>
                <input list="comp" name="company" onkeyup="checkCompany(this.value)"  placeholder="Company" id="company">
        

                        <datalist id="comp">
                            <%  if(result_company) { %>
                                <!-- start for each -->
                                <% result_company.forEach( company=> {%>
                          <option value="<%= company.comp_id %>" 
                          label="<%= company.comp_name %>"> 
                          
                          <% }) } %>
                        </datalist>
                        <br> 

               <input list="dept" name="department" 
                        placeholder="Department" onkeyup="checkDept(this.value)" id="department">

<datalist id="dept">
<%  if(result_department) { %>
 <!-- start for each -->
 <% result_department.forEach( department => {%>
 <option value="<%= department.dept_id %>" label="<%= department.dept_name %>" id="dept-lbl">

   <% }) } %>
</datalist>
<br> 
 

                                
              </div>
 <i id="comp_err__msg"></i>
<i id="dept_err__msg"></i>

              <div class="input-box">
              <!-- <i class="fas fa-lock"></i> -->

                <input type="password" name="password" placeholder="Password" id="newpassword"  class="password">
 <i class="fa fa-eye" id="eye-newpass" class="eye-open" onclick="showPassNew()"></i>
                                <i class="fa fa-eye-slash" id="eye-close-newpass" class="eye-open"
                                    onclick="showPassNew()"> </i>

                              
<input type="password" autocomplete="none" name="repassword" placeholder="Re-enter Password"
                                    onkeyup="checkPass(this.value);" id="repassword" class="password">

                                

              </div>




               <i id="pass_err__msg"></i>
                <i id="repass_err__msg"></i>


              <div class="input-box">
                <i class="fas fa-phone-alt"></i>
                <input type="text" name="tel" autocomplete="off" autofocus="off"  placeholder="Telephone"  class="ComP_Ucod">
                <br>        
                        
              </div> 


              <div class="input-box">
                <i class="fas fa-lock"></i>
                <input type="text" name="ComP_Ucod" autocomplete="off" autofocus="off" title="Enter company unique code" required placeholder="Unique ID" id="ComP_Ucod" class="ComP_Ucod">

                <input type="button" id="checkBtn" class="checkBtn" name="Verify" style="width: 100px;" value="Verify">
                <input type="checkbox" value="Verify" name="checkbox"  required id="confirm" >

                <style type="text/css">
                  
                  .checkBtn{
                    padding: 4px 0px;
                    border: 1px solid #ccc;
                    margin-left: 6px;
                    border-radius: 6px;
                    background-color: green;
                    color: white;
                    cursor: pointer;

                  }

                  #confirm{
                    display: none;
                  }
                </style>
                <br>        
                        
              </div>  



              <div class="button input-box">
                <input type="submit" value="Submit"  id="submit_btn">
             </div>
             <div class="text"><a href="/forgot/password">Forgot password?</a></div>
             <p id="error-msg-form"></p>


           
  <div id="dataContainer"></div>

              <div class="text sign-up-text"> Already have an account? <label for="flip">Login now</label></div>       
                   
            </div>
      </form>
      </div>
        <div class="signup-form">
          <div class="title">Login</div>
       <form action="/auth" method="post" class="form">
            <div class="input-boxes">
              <div class="input-box">
                <i class="fas fa-envelope"></i>
                <input type="email" placeholder="Enter your email" name="email"  id="emailLogin" required>
                <br>
                  
              </div>
              <span class="error" id="error_email">
                        <i id="email_err__msg"></i>
                </span>
              <div class="input-box">
                <i class="fas fa-lock"></i>
                <input type="password" placeholder="Enter your password" name="password" id="password" required>
              </div>
              <div class="text"><a href="/forgot/password">Forgot password?</a></div>
              <div class="button input-box">
                <input type="submit" value="Login">
              </div>
              <div class="Social">
<div class="Social">
<button type="button" onclick="window.location.href='/google/auth'" class="google-btn">
<i class="fa fa-google" aria-hidden="true"></i> Login with google
</button>
<!-- <button type="button"   onclick="window.location.href='/auth/facebook'" class="facebook-btn">
<i class="fa fa-facebook" aria-hidden="true"></i> Login with Facebook
</button> -->
</div>     <div class="text sign-up-text">Don't have an account? <label for="flip">Sigup now</label></div>
            </div>
        </form>
    </div>


    </div>
    </div>
  </div>

  <script>
        
        //email
// var email=document.querySelector('#email');
// var email_err__msg=document.querySelector('#email_err__msg')
// var mailformat = /^\w+([\.-]?\w+)*@\w+([\.-]?\w+)*(\.\w{2,3})+$/;


//     email.addEventListener('keyup',(e)=>{
       
//       if(e.target.value.match(mailformat))
//          {
//             //document.write("Valid email address!");
//             email.style.borderBottom='1px solid #01cb44';
//             email_err__msg.style.color='green';
//             email_err__msg.style.display='none'
//             email_err__msg.textContent='Email Good..';

//             return true;
//          }
//          else if(!e.target.value.match(mailformat))         {

//             //email.style.placeholder='example@email/com';
//             email.style.borderBottom='1px solid #FF5466';
//             email_err__msg.style.color='red';
//             email_err__msg.style.display='initial';            
//             email_err__msg.textContent='Invalid email..';
//             email_err__msg.color='red';

//             document.email-form.email.focus();
         
//              return false;
//          }
         
//          email.removeEventListener('keyup');
//     });


    var password =document.getElementById('password');

    //show and hide pass newpass
function showPassNew() {
   // alert('all')
    if (password.type === "password") {
        password.type = "text";
        document.getElementById('showpass').style.display='none';
        document.getElementById('hidepass').style.display='initial';
        // alert('pass')
    } else {
        password.type = "password";
        document.getElementById('showpass').style.display='initial';
        document.getElementById('hidepass').style.display='none';
        
       // alert('text');
    }
  }


 
    </script>
    <script src="/validate.js"></script>
    <script src="/preloader.js"></script>
    <script src="/sweetalert.min.js"></script>
   <script src="/validat-compId.js" > </script>

<div id="overlay" class="overlay">
  <div class="loader"></div>
</div>
</body>
</html>