<!DOCTYPE html>
<html lang="en">

<head>
  
  <%- include('../customer/partials/head.ejs') %>

</head>
 

<body>
  <div class="wrapper">
    <%- include('../customer/partials/topNavUser.ejs')  %>
    
   
     <main class="cd-main-content">
<%- include('../customer/partials/sideNav.ejs')  %>

<center>
  
  <%- include('../customer/partials/filters.ejs')  %>

</center>

 <div class="cd-content-wrapper">
      <div class="text-component text-center">

   
<!-- here -->
    <div class="container-fluid my-4 weather-data">
      <div class="row">

        <div class="col-xxl-9 col-md-8 mt-md-1 mt-4 pe-lg-4">
      <div class="current-weather custom-bg text-white py-2 px-4 rounded-3">
            <div class="mt-3 d-flex justify-content-between">
              <div  id="cont">


            <object data="/logo.jpg" type="" class="preview-left" id="previewleft"></object>

            <img src="" id="img" alt="" onclick="pause()"  ondblclick="play()"  style="display: none;">

          

          <div class="preview-description">
            <div class="desc" id="desc">

            </div>

            <div class="desc-bottom">
              <span class="date" id="descDate">May 2020/12/11</span>
              <span class="file-info">
                <span class="share">

                 <a href="" id="link-share">  <i class="fas fa-reply"></i> Share</a>

                </span>
                <span class="download">
                   
                   <a href="" id="link-download">Save <i class="fas fa-download"></i></a> 
                    
                </span>
              </span>
            </div>
          </div>
        </div>
              </div>
          </div>
      </div>
          
       



        <div class="col-xxl-3 col-md-4 px-lg-4">

           
           <div class="tabs">
            <!-- <input type="text" id="searhcInput" id="search" onkeyup="searchWord()" placeholder="Search for anything.." title="Type in anything"> -->

            <div id="tab1ContentAll">
              <!-- <p class="head"> All</p> -->
              <!-- all -->
              <%- include('../customer/partitalsFiles/allFiles.ejs') %>
            </div>
            <!-- end -->
            <div id="tab1Content">
              <!-- <p class="head"> Audio </p> -->
              <!-- Audo -->
              <%- include('../customer/partitalsFiles/audios.ejs') %>
            </div>
            <div id="tab2Content">
              <!-- <p class="head"> Images </p> -->
              <!-- images -->
              <%- include('../customer/partitalsFiles/images.ejs') %>
            </div>
            <div id="tab3Content">
              <!-- <p class="head"> PDF </p> -->
              <!-- pdf -->
              <%- include('../customer/partitalsFiles/pdf.ejs') %>
            </div>
            <div id="tab4Content">
              <!-- This is video tab -->
              <!-- <p class="head"> Videos </p> -->
              <!-- vidoes -->
              <%- include('../customer/partitalsFiles/videos.ejs') %>
            </div>
          </div>



        </div>
      </div>
    </div>


    <!-- here -->





     </div>
          </div>
  </main>
  </div>
  </div>


<%- include('../customer/partials/footer.ejs') %>
</body>

</html>