<section>
  <div class="dashboard">
    <div class="stats">
      <div class="stats-box" id="stats_emails">
        <span class="icon-emails">
          <i class="fa fa-envelope"></i>
          <span class="total-emails"> <span>
              <% if(result_company) {%>
              <% if( result_company.length>0) {%>
              <%= result_company.length %>
              <% } else{%>
              0
              <% } %>
              <% } %>
            </span></span>

        </span>
       <a href="/companies">  <p>Companies <i class="fa fa-arrow-circle-right"></i></p></a> 
      </div>
      <div class="stats-box" id="stats_uploads">
        <span class="icon-uploads">
          <i class="fa fa-upload"></i>
          <span class="total-uploads"> <span>
              <% if(result_files) {%>
              <%= result_files.length %>
              <% } %></span></span>

        </span>
     <a href="/files">   <p>Total Uploads <i class="fa fa-arrow-circle-right"></i></p> </a>

      </div>
      <div class="stats-box" id="stats_downloads">
        <span class="icon-downloads">
          <i class="fa fa-download"></i>
          <span class="total-download"><span>
              <% if(result_downloads) {%>
              <% if( result_downloads.length>0) {%>
              <%= result_downloads.length %>
              <% } else{%>
              0
              <% } %>
              <% } %>
            </span></span>
        </span>
      <a href="/downloads">  <p>Total Downloads <i class="fa fa-arrow-circle-right"></i></p></a>

      </div>



      <div class="stats-box" id="stats_users">
        <span class="icon-users">
          <span class="icons"><i class="fa fa-users"></i></span>
          <span class="total-users"> <span>
              <% if(result_users) {%>
              <% if( result_users.length>0) {%>
              <%= result_users.length %>
              <% } else{%>
              0
              <% } %>
              <% } %>
            </span></span>
        </span></span>

        </span>
     <a href="/users">   <p>Total Users <i class="fa fa-arrow-circle-right"></i></p> </a>
      </div>
    </div>
    <div class="recents-uploads">
      <div class="table">


        <p class="head">
          <% if(result_files) {%>
          <% if( result_files.length>0) {%>
          Files ( <%= result_files.length %>)
          <% } else{%>
          0
          <% } %>
          <% } %>
        </p>
        <hr class="hr">
        <br>

        <input type="text" id="searhcInput" onkeyup="search()" placeholder="Search for desc.." title="Type in a desc">

        <table id="recents" >
          <tr class="header">
            <!-- <th >File <br>  id</th> -->
            <th  style="width: 70px;">Desc</th>
            <th>C_ID</th>
            <th>D_ID </th>
            <th class="fileSize">F_Size</th>
            <th class="hide">F_Type</th>
            <th>Action</th>

          </tr>

          <% if(result_files) {%>
          <!-- diaplaying data on the table -->
          <%  if(result_files.length>0) { %>

          <!-- start for each -->
          <% result_files.forEach( file=> {%>
          <tr>
            <!-- <td class="id"><%= //file.fileId %> </td> -->
            <td  style="width: 70px;"><%= file.description%></td>
            <td><%= file.comp_id %> </td>
            <td><%= file.dept_id %> </td>


            <!-- reducing decimals -->
            <% 
                  var fileSize=file.fileSize
                  var valMb=fileSize/1024/1024*1;
                  var valKB=fileSize/1024;

                  var decMB=valMb.toFixed(2);
                  var decKB=valKB.toFixed(2);
                  %>

   
                <td class="fileSize">
                  <% if(fileSize<=10000){ %>
                      <%= decKB %>KB
                    <% } else {%>
                      <%= decMB %>MB
                      <% } %>
                </td>
            <!-- checking file type -->


            <!-- img -->
            <% if(file.fileType==".gif"
                ||file.fileType==".png"
                ||file.fileType==".jpeg"
                ||file.fileType==".jpg") {%>
            <td class="hide"> Image </td>
            <% } else if(
               file.fileType==".mp4"
               ||file.fileType==".wav"
               ||file.fileType==".mov"||file.fileType==".f4v"
               ||file.fileType==".avi"||file.fileType==".swf"
               ||file.fileType==".mkv"||file.fileType==".flv"
               ||file.fileType==".webm"||file.fileType==".mpeg-2")
               {%>
            <td  class="hide"> Video </td>
            <% }else if(
                 file.fileType==".mp3"||file.fileType==".m4a"
                 ||file.fileType==".wma"||file.fileType==".acc"
                 ||file.fileType==".wav"||file.fileType==".flac"
               ){ %>
                <!-- pdf -->
            <td  class="hide"> Audio </td>
            
            <% }else if(
             file.fileType==".pdf"||file.fileType==".docx"
             ||file.fileType==".dot"||file.fileType==".docm"
             ||file.fileType==".csv"||file.fileType==".dotx"
             ||file.fileType==".txt"||file.fileType==".ppt"
           ){ %>
            <td class="hide"> Doc </td>
            <% } else{%>
            <td  class="hide"> Others </td>
            <% } %>
            <!-- action -->
            <td class="action">
              <!-- preview -->
              <span class="tooltip-dashboard">
                <a href="/preview-file/<%= file.fileId %>">

                  <span class="icon-eye" id="preview">
                    <span class="tooltiptext-dashboard">View</span>
                    <i class="fa fa-eye"></i>
                  </span>
                </a>
              </span>

            </td>
          </tr>


          <% }); %>
          <!-- end  -->

          <%  }else{ %>

          <tr>
            <td colspan="3">No files uploaded yet</td>
          </tr>

          <% } %>
          <% } %>





        </table>
        
      </div>
    </div>
  </div>
</section>